bottle==0.12.13
bottle-log==1.0.0
matplotlib==2.0
cycler==0.10.0
Cython==0.26.1
functools32==3.2.3.post2
numexpr==2.6.2
numpy==1.13.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.11.0
subprocess32==3.2.7
tables==3.4.2
tabulate==0.8.2
Theano==0.9.0
tornado==4.5.2
shuffle==0.9
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==0.19.1
seaborn==0.9.0
shuffle==0.9
tensorflow==2.5.0
Theano==0.9.0
xmltodict==0.12.0